@charset "UTF-8";
/*=========  Nav bar ==========*/
/** =========
  Media Queries
========= **/
/** =========
  Media Queries
========= **/
/* ==============
   Media queries
  ============= */
nav {
  top: 0;
  position: fixed;
  width: 100%;
  background: #ffffff;
  z-index: 100;
  opacity: 0;
  animation: bottomToTop 0.5s ease-in-out 3s 1 forwards;
}

@keyframes bottomToTop {
  0% {
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

nav #menu {
  display: flex;
  justify-content: flex-end;
  margin: 2rem 4rem 0 1.5rem;
  z-index: 100;
}

nav #menu li {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 3px;
  padding: 10px;
  list-style: none;
}

nav #menu li:first-child {
  margin-right: auto;
}

nav #menu a:link,
nav #menu a:visited {
  color: #4d4b50;
  padding: 8px 0;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

nav #menu a:hover,
nav #menu a:active {
  color: #4d4b50;
  border-bottom: 2px solid #b74979;
}

/*====Footer====*/
footer {
  height: 40px;
  background-color: #f4c290;
  margin-top: auto;
}

footer p {
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  padding-top: 0.8rem;
}

.second-footer {
  background-color: #bcc8ef;
}

/*===============  portfolio ========== */
/*=========  Nav bar ==========*/
/** =========
  Media Queries
========= **/
/** =========
  Media Queries
========= **/
/* ==============
   Media queries
  ============= */
nav {
  top: 0;
  position: fixed;
  width: 100%;
  background: #ffffff;
  z-index: 100;
  opacity: 0;
  animation: bottomToTop 0.5s ease-in-out 3s 1 forwards;
}

@keyframes bottomToTop {
  0% {
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

nav #menu {
  display: flex;
  justify-content: flex-end;
  margin: 2rem 4rem 0 1.5rem;
  z-index: 100;
}

nav #menu li {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 3px;
  padding: 10px;
  list-style: none;
}

nav #menu li:first-child {
  margin-right: auto;
}

nav #menu a:link,
nav #menu a:visited {
  color: #4d4b50;
  padding: 8px 0;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

nav #menu a:hover,
nav #menu a:active {
  color: #4d4b50;
  border-bottom: 2px solid #b74979;
}

/*====Footer====*/
footer {
  height: 40px;
  background-color: #f4c290;
  margin-top: auto;
}

footer p {
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  padding-top: 0.8rem;
}

.second-footer {
  background-color: #bcc8ef;
}

/** =========
  Media Queries
========= **/
/** =========
  Media Queries
========= **/
/* ==============
   Media queries
  ============= */
/*===============  portfolio ========== */
/*=========  Nav bar ==========*/
/** =========
  Media Queries
========= **/
/** =========
  Media Queries
========= **/
/* ==============
   Media queries
  ============= */
nav {
  top: 0;
  position: fixed;
  width: 100%;
  background: #ffffff;
  z-index: 100;
  opacity: 0;
  animation: bottomToTop 0.5s ease-in-out 3s 1 forwards;
}

@keyframes bottomToTop {
  0% {
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

nav #menu {
  display: flex;
  justify-content: flex-end;
  margin: 2rem 4rem 0 1.5rem;
  z-index: 100;
}

nav #menu li {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 3px;
  padding: 10px;
  list-style: none;
}

nav #menu li:first-child {
  margin-right: auto;
}

nav #menu a:link,
nav #menu a:visited {
  color: #4d4b50;
  padding: 8px 0;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

nav #menu a:hover,
nav #menu a:active {
  color: #4d4b50;
  border-bottom: 2px solid #b74979;
}

/*====Footer====*/
footer {
  height: 40px;
  background-color: #f4c290;
  margin-top: auto;
}

footer p {
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  padding-top: 0.8rem;
}

.second-footer {
  background-color: #bcc8ef;
}

/** =========
  Media Queries
========= **/
/** =========
  Media Queries
========= **/
/* ==============
   Media queries
  ============= */
.work-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.work-section {
  background-color: #bcc8ef;
  opacity: 0;
  animation: bottomToTop 0.5s ease-in-out 0.5s 1 forwards;
  position: absolute;
  top: 100px;
  left: 70px;
  width: calc(100% - 140px);
  height: calc(100% - 140px);
}

@keyframes bottomToTop {
  0% {
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 767px) {
  .work-section {
    left: 0px;
    width: 100%;
  }
}

@media screen and (min-width: 960px) {
  .work-section {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 960px) {
  .work-section {
    top: 70px;
    height: calc(100vh - 100px);
  }
}

@media screen and (max-width: 767px) {
  .work-section {
    height: calc(100vh - 70px);
  }
}

.work-section .flex-container {
  display: flex;
  margin: 0 auto;
  width: 80%;
  max-width: 900px;
}

@media screen and (max-width: 960px) {
  .work-section .flex-container {
    flex-direction: column;
    width: 80%;
    padding-top: 4rem;
  }
}

@media screen and (max-width: 320px) {
  .work-section .flex-container {
    padding-top: 2rem;
  }
}

.work-section .right {
  margin: 2rem;
}

@media screen and (max-width: 960px) {
  .work-section .right {
    margin: 0 auto;
    order: 1;
  }
}

.work-section .left {
  height: 100%;
  position: relative;
  margin: 2rem;
}

@media screen and (max-width: 960px) {
  .work-section .left {
    margin: 0 auto;
    order: 2;
  }
}

.work-section .content h1 {
  width: 80%;
  font-size: 2rem;
  font-family: "Merriweather", serif;
  letter-spacing: 3px;
  color: #ffffff;
}

.work-section .content p {
  letter-spacing: 1px;
}

@media screen and (max-width: 960px) {
  .work-section .content {
    text-align: center;
    margin-top: 2.5rem;
  }
  .work-section .content h1 {
    margin: 0 auto;
  }
  .work-section .content p {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 400px) {
  .work-section .content {
    margin-top: 1rem;
  }
  .work-section .content h1 {
    font-size: 1.5rem;
  }
}

.work-section .image-container {
  overflow: hidden;
}

.work-section .work-img-one {
  max-width: 400px;
  max-height: 350px;
  border: 10px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
  -moz-box-shadow: 3px 3px 3px #777;
  box-shadow: 3px 3px 3px #777;
  transition: 0.3s ease;
}

@media screen and (max-width: 960px) {
  .work-section .work-img-one {
    width: auto;
    max-height: 260px;
  }
}

@media screen and (max-width: 600px) {
  .work-section .work-img-one {
    max-width: 240px;
    max-height: 200px;
  }
}

@media screen and (max-width: 320px) {
  .work-section .work-img-one {
    max-width: 180px;
    max-height: 150px;
  }
}

.work-section .more-btn {
  padding-bottom: 3rem;
  transition: 0.3s ease-in-out;
  display: block;
  width: 200px;
  height: auto;
  padding: 20px;
  border: 1px solid #4d4b50;
  font-size: 1.2em;
  text-decoration: none;
  background-color: #ffffff;
}

.work-section .more-btn a {
  color: #4d4b50;
  text-decoration: none;
  font-family: "Noto Sans", sans-serif;
}

.work-section .more-btn:hover {
  background-color: #ffffff;
  border-color: #4d4b50;
  border-radius: 30px;
}

@media screen and (max-width: 767px) {
  .work-section .more-btn {
    margin: 0 auto;
  }
}

.second {
  background-color: #f4c290;
}

.work-single-wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.single-page nav,
.single-page header,
.single-page footer {
  background-color: #f4c290;
}

.single-page header {
  height: 300px;
  position: relative;
}

.single-page header h1 {
  font-weight: 400;
  font-size: 2.5rem;
  font-family: "Merriweather", serif;
  letter-spacing: 5px;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 600;
  font-size: 3.5rem;
}

.project-page .container {
  max-width: 1024px;
  width: 80%;
  margin: 0 auto;
}

.project-page h2 {
  font-family: "Noto Sans", sans-serif;
  color: #eaa261;
  text-align: left;
}

.project-page .summary-content {
  max-width: 80%;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .project-page .summary-content {
    flex-wrap: wrap;
  }
}

.project-page .summary-content .first-content {
  width: 50%;
  padding-right: 5rem;
}

@media screen and (max-width: 767px) {
  .project-page .summary-content .first-content {
    width: 100%;
    padding: 0;
  }
}

.project-page .summary-content p {
  min-width: 200px;
}

.project-page .summary-content .list-content {
  text-align: center;
}

.project-page .summary-content .list-content ul {
  padding: 0;
  text-align: left;
  display: inline-block;
  margin: 0 auto;
}

.project-page .summary-content .list-content li {
  font-family: "Noto Sans", sans-serif;
  list-style: none;
  margin: 0 auto;
  display: inline;
  color: #4d4b50;
}

.project-page .page-btn {
  margin: 0 auto;
  margin-top: 3rem;
  transition: 0.3s ease-in-out;
  display: block;
  width: 200px;
  height: auto;
  padding: 20px;
  border: 1px solid #4d4b50;
  font-size: 1.2em;
  text-decoration: none;
  background-color: #ffffff;
}

.project-page .page-btn a {
  color: #4d4b50;
  text-decoration: none;
  font-family: "Noto Sans", sans-serif;
}

.project-page .page-btn:hover {
  background-color: #ffffff;
  border-color: #4d4b50;
  border-radius: 30px;
}

.project-page .img-container {
  text-align: center;
  margin: 5rem 0;
}

.project-page .img-container img {
  width: 100%;
  border: solid 1px #cacaca;
}

.second-page header,
.second-page nav {
  background-color: #bcc8ef;
}

.project-second h2 {
  color: #806b9e;
}

/*=========  Nav bar ==========*/
/** =========
  Media Queries
========= **/
/** =========
  Media Queries
========= **/
/* ==============
   Media queries
  ============= */
nav {
  top: 0;
  position: fixed;
  width: 100%;
  background: #ffffff;
  z-index: 100;
  opacity: 0;
  animation: bottomToTop 0.5s ease-in-out 3s 1 forwards;
}

@keyframes bottomToTop {
  0% {
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

nav #menu {
  display: flex;
  justify-content: flex-end;
  margin: 2rem 4rem 0 1.5rem;
  z-index: 100;
}

nav #menu li {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 3px;
  padding: 10px;
  list-style: none;
}

nav #menu li:first-child {
  margin-right: auto;
}

nav #menu a:link,
nav #menu a:visited {
  color: #4d4b50;
  padding: 8px 0;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

nav #menu a:hover,
nav #menu a:active {
  color: #4d4b50;
  border-bottom: 2px solid #b74979;
}

/*====Footer====*/
footer {
  height: 40px;
  background-color: #f4c290;
  margin-top: auto;
}

footer p {
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  padding-top: 0.8rem;
}

.second-footer {
  background-color: #bcc8ef;
}

/** =========
  Media Queries
========= **/
/** =========
  Media Queries
========= **/
/* ==============
   Media queries
  ============= */
.about-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.about-section {
  background-color: #c2e3df;
  opacity: 0;
  animation: leftToRightContainer 0.8s ease 0.5s 1 forwards;
  position: absolute;
  top: 100px;
  left: 70px;
  width: calc(100% - 140px);
  height: calc(100% - 140px);
}

@keyframes leftToRightContainer {
  0% {
    transform: translateX(-500px);
    /* X軸方向に50px */
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    /* X軸方向に0px */
  }
}

@media screen and (max-width: 767px) {
  .about-section {
    left: 0px;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .about-section {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .about-section {
    height: 100%;
    overflow-y: scroll;
  }
}

.about-section h1 {
  color: #ffffff;
  text-align: left;
  letter-spacing: 2px;
  opacity: 0;
  animation: bottomToTop 0.8s ease 1.3s 1 forwards;
}

@media screen and (max-width: 767px) {
  .about-section h1 {
    font-size: 2rem;
    text-align: center;
  }
}

@keyframes bottomToTop {
  0% {
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.about-section p {
  letter-spacing: 1px;
  line-height: 1.5;
  font-weight: 500;
  opacity: 0;
  animation: bottomToTop 0.8s ease 1.6s 1 forwards;
}

@keyframes bottomToTop {
  0% {
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.about-section .flex-container {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
}

@media screen and (max-width: 767px) {
  .about-section .flex-container {
    flex-direction: column;
    width: 80%;
    padding: 2rem 0;
  }
}

.about-section .right {
  flex: 2;
  position: relative;
}

@media screen and (max-width: 767px) {
  .about-section .right .content {
    text-align: center;
  }
}

.about-section .left {
  flex: 1;
  margin: 1rem;
}

@media screen and (max-width: 767px) {
  .about-section .left {
    margin: 0 auto;
  }
}

.about-section .left .profile-img {
  width: auto;
  height: 300px;
  border: 10px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
  -moz-box-shadow: 3px 3px 3px #777;
  box-shadow: 3px 3px 3px #777;
  animation: leftToRight ease-in-out 0.8s 1 1s forwards;
  opacity: 0;
}

@keyframes leftToRight {
  0% {
    transform: translateX(-80px);
    /* X軸方向に50px */
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    /* X軸方向に0px */
  }
}

@media screen and (max-width: 767px) {
  .about-section .left .profile-img {
    max-height: 250px;
  }
}

.about-section .social-icons {
  padding-left: 0;
  opacity: 0;
  animation: bottomToTop 0.8s ease 2s 1 forwards;
}

@keyframes bottomToTop {
  0% {
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.about-section .social-icons li {
  padding: 1rem 1.5rem 1rem 0;
  font-size: 1.3rem;
  display: inline-block;
}

.about-section .social-icons li i:hover {
  color: #b74979;
}

.about-section .message-btn {
  transition: 0.3s ease-in-out;
  opacity: 0;
  animation: bottomToTop 0.8s ease 2.5s 1 forwards;
  display: block;
  width: 200px;
  height: auto;
  padding: 20px;
  border: 1px solid #4d4b50;
  font-size: 1.2em;
  text-decoration: none;
  background-color: #ffffff;
}

@keyframes bottomToTop {
  0% {
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.about-section .message-btn a {
  color: #4d4b50;
  text-decoration: none;
  font-family: "Noto Sans", sans-serif;
}

.about-section .message-btn:hover {
  background-color: #ffffff;
  border-color: #4d4b50;
  border-radius: 30px;
}

@media screen and (max-width: 767px) {
  .about-section .message-btn {
    margin: 0 auto;
  }
}

/* ========= Main layout ============*/
body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  height: 100vh;
  background-color: #fff;
}

/*  FONTS AND COLOR  */
p,
.social-icons li i,
.social-icons li a:link,
visited {
  color: #4d4b50;
}

h1 {
  font-weight: 400;
  font-size: 2.5rem;
  font-family: "Merriweather", serif;
}

p {
  font-family: "Noto Sans", sans-serif;
  letter-spacing: 1px;
  line-height: 1.5;
}

.main-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.top-border-rect {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  animation: border-box-anim 0.8s ease 3s 1 forwards;
  /* border style*/
  /* bottom */
  /* right */
  /* top */
  /* left */
  /* animation */
  /* animation*/
}

@keyframes border-box-anim {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.top-border-rect .btn__box:before,
.top-border-rect .btn__box:after,
.top-border-rect .btn__box a:before,
.top-border-rect .btn__box a:after {
  content: "";
  position: absolute;
  background: #4d4b50;
  /*線の色*/
}

.top-border-rect .btn__box:before {
  bottom: 0;
  left: -200px;
  width: 200px;
  height: 1px;
}

.top-border-rect .btn__box:after {
  bottom: -200px;
  right: 0;
  width: 1px;
  height: 200px;
}

.top-border-rect .btn__box a:before {
  top: 0;
  right: -200px;
  width: 200px;
  height: 1px;
}

.top-border-rect .btn__box a:after {
  top: -200px;
  left: 0;
  width: 1px;
  height: 200px;
}

.top-border-rect .btn__box:before {
  animation: leftAnim 1s linear 1.5s forwards;
}

.top-border-rect .btn__box:after {
  animation: bottomAnim 1s linear 2s forwards;
}

.top-border-rect .btn__box a:before {
  animation: rightAnim 1s linear 0.5s forwards;
}

.top-border-rect .btn__box a:after {
  animation: topAnim 1s linear 1s forwards;
}

@keyframes topAnim {
  0% {
    top: -200px;
  }
  100% {
    top: -100px;
  }
}

@keyframes bottomAnim {
  0% {
    bottom: -200px;
  }
  100% {
    bottom: -100px;
  }
}

@keyframes rightAnim {
  0% {
    right: -100px;
  }
  100% {
    right: 100px;
  }
}

@keyframes leftAnim {
  0% {
    left: -100px;
  }
  100% {
    left: 100px;
  }
}

.top-border-rect .btn__box {
  position: relative;
  width: 200px;
  height: 200px;
  line-height: 200px;
  overflow: hidden;
}

.top-border-rect .btn__box a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #e0aaa5;
  font-size: 1rem;
}

.main-top {
  background-color: #e0aaa5;
  position: absolute;
  top: 100px;
  left: 70px;
  width: calc(100% - 140px);
  height: calc(100% - 140px);
  opacity: 0;
  animation: leftToRightContainer 1s ease 4s 1 forwards;
}

@media screen and (max-width: 767px) {
  .main-top {
    left: 0px;
    width: 100%;
  }
}

@keyframes leftToRightContainer {
  0% {
    transform: translateX(-500px);
    /* X軸方向に50px */
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    /* X軸方向に0px */
  }
}

@media screen and (max-width: 767px) {
  .main-top {
    height: calc(100% - 100px);
  }
}

.main-top .top-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
}

.main-top .top-title h1 {
  letter-spacing: 5px;
  color: #ffffff;
  opacity: 0;
  animation: bottomToTop 0.8s ease 5s 1 forwards;
}

@media screen and (max-width: 767px) {
  .main-top .top-title h1 {
    font-size: 2rem;
    line-height: 1.5em;
  }
}

.main-top .top-title p {
  font-size: 1.3rem;
  text-align: center;
  color: #ffffff;
  opacity: 0;
  animation: bottomToTop 0.8s ease 5.5s 1 forwards;
}
