

/* ========= Main layout ============*/

body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}

#wrapper {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  transition: opacity 0.9s;
  -moz-transition: opacity 0.9s;
  -webkit-transition: opacity 0.9s;
  -o-transition: opacity 0.9s;
}

#about,#skills,#portfolio,#contact{ padding: 5% 0; }

/*  FONTS AND COLOR  */
h1,h2,p,.nav-link:link,.nav-link:visited,.menu-trigger,.social-icons li i,.social-icons li a:link,visited {
  color: #4d4b50
}
h2 {
  text-align: center;
  font-weight: 400;
  font-family:  'Playfair Display',serif;
  font-size: 25px;
  letter-spacing: 5px;
}


p,.main-footer{
  font-family: 'EB Garamond',serif;
}

/*=========  Nav bar ==========*/

#nav-wrap {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
}
.navbar-nav {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
}

.scrolled-nav {
  background-color: #ecd8d8;
  z-index: 10;
  transition: 0.3s;
}
.nav-item {
  font-size: 1em;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 20px;
}

.nav-link:link,
.nav-link:visited {
  padding: 8px 0;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.nav-link:hover,
.nav-link:active {
  border-bottom: 2px solid #b74979;
}

.menu-trigger {
  display: none;
  text-decoration: none;
  text-align: right;
}
/*====main-top style====*/
header {
  background-image: linear-gradient(rgba(255, 255, 255, 0.4),rgba(255,255,255,0.4)),url("../img/headimg.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: top left;
}

.top-title {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

h1 {
  font-weight: 700;
  font-size: 500%;
  font-family: 'Cormorant Garamond',serif;
  font-style: italic;
  letter-spacing: 5px;
}

header p{
  font-family: 'Cormorant Garamond',serif;
  font-style: italic;
  font-size: 230%;
  padding-top: 5px;
  letter-spacing: 2px;
}

/*=============== Beg of portfolio ========== */
#portfolio {
  background-color: #fff;
}

.flex-container-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-1-4 {
  padding: 50px 0;
}

.figimage {
  width: 15em;
  height: 12em;
}

.img-container{
  width: 15em;
  height: 12em;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.img-caption{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 3em;
  background: #A8A8A8;
  background: rgba(0, 0, 0, .4);
  color: #fff;
  cursor: pointer;
  text-align: center;
  font-size: 1.2em;
  border-radius: 5px;
  transition: all 0.8s ease-out;
}

.img-caption a{
	color: #fff;
}

.img-container:hover .img-caption{
	opacity: 0;
}

.bottom-top{
	top: 100%;
	left: 0;
}

.img-container:hover .img-caption{
	top: 0;
	left: 0;
	transition: all 0.6s ease-out;
}

.img-container:hover .img-caption {
	opacity: 1;
}


/*==============  About =============*/
#about {
  background: #ecd8d8;
}
#about p {
    line-height: 1.8;
    letter-spacing: 1.5px;
    text-align: left;
  }

.about li:nth-child(1) {
  padding-left: 0px;
  
}

h3 {
  font-weight: 700;
  font-family: 'Playfair Display',serif;
  font-style: italic;
  font-size: 300%;
  letter-spacing: 5px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
 
}

.col1 {
  flex:2;
  margin: 1em;
  padding: 1em;
}

.col2 {
  flex:1;
  margin: 2em;
  padding: 2em;
}


.profile-img{
  width: auto;
  height: 300px;
  border: 10px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
  -moz-box-shadow: 3px 3px 3px #777;
  box-shadow: 3px 3px 3px #777;
}


/*============= Skills =======================*/
#skills {
  background-color: #fff;
  text-align: center;
}

#skills .flex-container {
  padding: 3em;
}

.bar {
  width: 30%;
  background-color: #ddd;
  border-radius: 10px;
  margin: 1em;
}

.progress {
  text-align: left;
  padding-left: 20px;
  line-height: 20px;
  color: white;
  border-radius: 10px;
  background: #c32950ab;
  /* background: #D66D75;  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #E29587, #D66D75);  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #E29587, #D66D75); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ */ */

}

.html {width: 90%; }
.css {width: 80%;}
.js {width: 70%; }
.java {width: 50%; }
.python {width: 30%;;}
.php {width: 30%;}
.wp {width: 40%; }
.ph {width: 60%; }
.llus{width: 50%; }


/*================ Contact =======================*/

#contact {
  background: #ecd8d8;
}

.social-icons {
  padding-left: 0;
  margin-bottom: 30px;
}

.contact {
  text-align: center;
}

.social-icons li {
  padding: 10px 15px;
  font-size: 23px;
  display: inline-block;
}
.social-icons li i:hover{
  color: #b74979;
}

.message-btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: auto;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #b74979;
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
  background-color:  #b74979;
  transition: 0.3s ease-in-out;
  box-shadow: 0px 3px 5px 0px #b74979;
}

.message-btn:hover {
  background-color: #fff;
  color:  #b74979;
  border-color: #fff;
  border-radius: 30px;
}


/*====Footer====*/

.main-footer {
  background: #4d4b50; 
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

/*==== MEDIA QUERIES ====*/
/* @media only screen and (max-width: 1200px) {

  
} */

@media only screen and (max-width: 1023px) {
  .top-title {
    width: 100%;
    text-align: center;
}
}


@media only screen and (max-width:760px) {

}


@media only screen and (max-width:480px) {

.menu-trigger {
    display: block;
    padding: 10px;
    background-color: #ecd8d8;
  }

.nav-item {
    display:block;   
    background-color: #eee;
    padding: 10px;
    font-size: 1em;
    text-align: center;
}

.navbar-nav {
    display:none;
}



}