/*=========  Nav bar ==========*/
/** =========
  Media Queries
========= **/
/** =========
  Media Queries
========= **/
/* ==============
   Media queries
  ============= */
nav {
  top: 0;
  position: fixed;
  width: 100%;
  background: #ffffff;
  z-index: 100;
}

nav #menu {
  display: flex;
  justify-content: flex-end;
  margin: 2rem 6rem 0 4rem;
  z-index: 100;
}

nav #menu li {
  font-family: "Inconsolata", monospace;
  font-size: 1.2rem;
  letter-spacing: 3px;
  padding: 10px;
  list-style: none;
}

nav #menu li:first-child {
  margin-right: auto;
}

nav #menu a:link,
nav #menu a:visited {
  color: #4d4b50;
  padding: 8px 0;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

nav #menu a:hover,
nav #menu a:active {
  color: #4d4b50;
  border-bottom: 2px solid #b74979;
}

/*====Footer====*/
footer {
  height: 30px;
  background-color: #F4C290;
}

footer p {
  text-align: center;
  color: #ffffff;
  padding-top: 5px;
}

.second-footer {
  background-color: #BCC8EF;
}

/*===============  portfolio ========== */
/*=========  Nav bar ==========*/
/** =========
  Media Queries
========= **/
/** =========
  Media Queries
========= **/
/* ==============
   Media queries
  ============= */
nav {
  top: 0;
  position: fixed;
  width: 100%;
  background: #ffffff;
  z-index: 100;
}

nav #menu {
  display: flex;
  justify-content: flex-end;
  margin: 2rem 6rem 0 4rem;
  z-index: 100;
}

nav #menu li {
  font-family: "Inconsolata", monospace;
  font-size: 1.2rem;
  letter-spacing: 3px;
  padding: 10px;
  list-style: none;
}

nav #menu li:first-child {
  margin-right: auto;
}

nav #menu a:link,
nav #menu a:visited {
  color: #4d4b50;
  padding: 8px 0;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

nav #menu a:hover,
nav #menu a:active {
  color: #4d4b50;
  border-bottom: 2px solid #b74979;
}

/*====Footer====*/
footer {
  height: 30px;
  background-color: #F4C290;
}

footer p {
  text-align: center;
  color: #ffffff;
  padding-top: 5px;
}

.second-footer {
  background-color: #BCC8EF;
}

/** =========
  Media Queries
========= **/
/** =========
  Media Queries
========= **/
/* ==============
   Media queries
  ============= */
.work-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.work-section {
  background-color: #F4C290;
  position: absolute;
  top: 100px;
  left: 100px;
  width: calc(100% - 200px);
  height: calc(100% - 200px);
}

@media screen and (max-width: 1024px) {
  .work-section {
    left: 70px;
    width: calc(100% - 140px);
    height: calc(100% - 140px);
  }
}

@media screen and (max-width: 767px) {
  .work-section {
    left: 0px;
    width: 100%;
  }
}

@media screen and (min-width: 960px) {
  .work-section {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 960px) {
  .work-section {
    left: 0;
    width: 100%;
    height: calc(100% - (-100px));
  }
}

@media screen and (min-width: 401px) and (max-width: 767px) {
  .work-section {
    height: calc(100% - (-10px));
  }
}

@media screen and (min-width: 320px) and (max-width: 400px) {
  .work-section {
    height: calc(100% - (-70px));
  }
}

.work-section .flex-container {
  display: flex;
  margin: 0 auto;
  width: 80%;
  max-width: 900px;
}

@media screen and (max-width: 960px) {
  .work-section .flex-container {
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    padding-top: 4rem;
  }
}

.work-section .right {
  margin: 2rem;
}

@media screen and (max-width: 960px) {
  .work-section .right {
    margin: 0 auto;
    order: 1;
  }
}

.work-section .left {
  height: 100%;
  position: relative;
  margin: 2rem;
}

@media screen and (max-width: 960px) {
  .work-section .left {
    margin: 0 auto;
    order: 2;
  }
}

.work-section .content h1 {
  width: 80%;
  font-weight: 400;
  font-size: 2rem;
  font-family: "Merriweather", serif;
  letter-spacing: 5px;
  color: #ffffff;
}

.work-section .content p {
  letter-spacing: 1px;
}

@media screen and (max-width: 960px) {
  .work-section .content {
    text-align: center;
    margin-top: 2.5rem;
  }
  .work-section .content h1 {
    font-size: 2rem;
    line-height: 1.5em;
    margin: 0 auto;
  }
  .work-section .content p {
    margin-bottom: 2rem;
  }
}

.work-section .work-img-one {
  max-width: 400px;
  max-height: 400px;
  border: 10px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
  -moz-box-shadow: 3px 3px 3px #777;
  box-shadow: 3px 3px 3px #777;
}

@media screen and (max-width: 960px) {
  .work-section .work-img-one {
    max-width: 350px;
    max-height: 350px;
  }
}

@media screen and (max-width: 960px) {
  .work-section .message-btn {
    margin: 0 auto;
  }
}

.second {
  position: absolute;
  top: 100px;
  left: 100px;
  width: calc(100% - 200px);
  height: calc(100% - 200px);
  background-color: #BCC8EF;
}

@media screen and (max-width: 1024px) {
  .second {
    left: 70px;
    width: calc(100% - 140px);
    height: calc(100% - 140px);
  }
}

@media screen and (max-width: 767px) {
  .second {
    left: 0px;
    width: 100%;
  }
}

@media screen and (min-width: 960px) {
  .second {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 960px) {
  .second {
    left: 0;
    width: 100%;
    height: calc(100% - (-100px));
  }
}

@media screen and (min-width: 401px) and (max-width: 767px) {
  .second {
    height: calc(100% - (-10px));
  }
}

@media screen and (min-width: 320px) and (max-width: 400px) {
  .second {
    height: calc(100% - (-70px));
  }
}

.work-single-wrapper {
  overflow: hidden;
}

.single-page nav,
.single-page header,
.single-page footer {
  background-color: #F4C290;
}

.single-page header {
  height: 300px;
  position: relative;
}

.single-page header h1 {
  font-weight: 400;
  font-size: 2.5rem;
  font-family: "Merriweather", serif;
  letter-spacing: 5px;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.project-first-page .container {
  max-width: 1024px;
  width: 80%;
  margin: 0 auto;
}

.project-first-page h2 {
  font-family: "Inconsolata", monospace;
  color: #4d4b50;
  text-align: center;
}

.project-first-page .summary-content {
  max-width: 80%;
  margin: 0 auto;
  padding: 3rem 0;
}

.project-first-page .summary-content p {
  text-align: center;
}

.project-first-page .list-content {
  text-align: center;
}

.project-first-page .list-content ul {
  padding: 0;
  text-align: left;
  display: inline-block;
  margin: 0 auto;
}

.project-first-page .list-content li {
  font-family: "Inconsolata", monospace;
  list-style: none;
  margin: 0 auto;
}

.project-first-page .message-btn {
  margin: 0 auto;
  margin-top: 3rem;
}

.project-first-page .img-container {
  text-align: center;
}

.project-first-page .img-container img {
  max-width: 400px;
  max-height: 400px;
  border: 10px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
  -moz-box-shadow: 3px 3px 3px #777;
  box-shadow: 3px 3px 3px #777;
  margin-top: 5rem;
}

@media screen and (max-width: 960px) {
  .project-first-page .img-container img {
    max-width: 350px;
    max-height: 350px;
  }
}

.second-page header,
.second-page nav {
  background-color: #BCC8EF;
}

/*=========  Nav bar ==========*/
/** =========
  Media Queries
========= **/
/** =========
  Media Queries
========= **/
/* ==============
   Media queries
  ============= */
nav {
  top: 0;
  position: fixed;
  width: 100%;
  background: #ffffff;
  z-index: 100;
}

nav #menu {
  display: flex;
  justify-content: flex-end;
  margin: 2rem 6rem 0 4rem;
  z-index: 100;
}

nav #menu li {
  font-family: "Inconsolata", monospace;
  font-size: 1.2rem;
  letter-spacing: 3px;
  padding: 10px;
  list-style: none;
}

nav #menu li:first-child {
  margin-right: auto;
}

nav #menu a:link,
nav #menu a:visited {
  color: #4d4b50;
  padding: 8px 0;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

nav #menu a:hover,
nav #menu a:active {
  color: #4d4b50;
  border-bottom: 2px solid #b74979;
}

/*====Footer====*/
footer {
  height: 30px;
  background-color: #F4C290;
}

footer p {
  text-align: center;
  color: #ffffff;
  padding-top: 5px;
}

.second-footer {
  background-color: #BCC8EF;
}

/** =========
  Media Queries
========= **/
/** =========
  Media Queries
========= **/
/* ==============
   Media queries
  ============= */
.about-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.about-section {
  background-color: #C2E3DF;
  position: absolute;
  top: 100px;
  left: 100px;
  width: calc(100% - 200px);
  height: calc(100% - 200px);
}

@media screen and (max-width: 1024px) {
  .about-section {
    left: 70px;
    width: calc(100% - 140px);
    height: calc(100% - 140px);
  }
}

@media screen and (max-width: 767px) {
  .about-section {
    left: 0px;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .about-section {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .about-section {
    left: 0;
    width: 100%;
    height: calc(100% - (-150px));
  }
}

@media screen and (max-width: 320px) {
  .about-section {
    height: calc(100% - (-250px));
  }
}

.about-section h1 {
  font-family: "Merriweather", serif;
  color: #ffffff;
  text-align: left;
  font-size: 2.5rem;
  letter-spacing: 3px;
}

@media screen and (max-width: 767px) {
  .about-section h1 {
    text-align: center;
  }
}

.about-section p {
  letter-spacing: 1px;
}

.about-section .flex-container {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
}

@media screen and (max-width: 767px) {
  .about-section .flex-container {
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    padding-top: 2rem;
  }
}

.about-section .right {
  flex: 2;
  height: 100%;
  position: relative;
}

.about-section .content {
  position: absolute;
}

@media screen and (max-width: 767px) {
  .about-section .content {
    text-align: center;
  }
}

.about-section .left {
  flex: 1;
  margin: 1rem;
}

@media screen and (max-width: 767px) {
  .about-section .left {
    margin: 0 auto;
  }
}

.about-section .profile-img {
  width: auto;
  height: 300px;
  border: 10px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
  -moz-box-shadow: 3px 3px 3px #777;
  box-shadow: 3px 3px 3px #777;
}

.social-icons {
  padding-left: 0;
  margin-bottom: 30px;
}

.social-icons li {
  padding: 10px 15px;
  font-size: 23px;
  display: inline-block;
}

.social-icons li i:hover {
  color: #b74979;
}

.message-btn {
  display: block;
  width: 200px;
  height: auto;
  padding: 20px;
  border: 1px solid #4d4b50;
  font-size: 1.2em;
  text-decoration: none;
  background-color: #ffffff;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 767px) {
  .message-btn {
    display: inline;
    margin: 0 auto;
  }
}

.message-btn a {
  color: #4d4b50;
  text-decoration: none;
  font-family: "Inconsolata", monospace;
}

.message-btn:hover {
  background-color: #ffffff;
  border-color: #4d4b50;
  border-radius: 30px;
}

/* ========= Main layout ============*/
body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  height: 100vh;
  background-color: #fff;
}

/*  FONTS AND COLOR  */
p,
.social-icons li i,
.social-icons li a:link,
visited {
  color: #4d4b50;
}

p {
  font-family: "Inconsolata", monospace;
}

.main-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main-top {
  background-color: #E0AAA5;
  position: absolute;
  top: 100px;
  left: 100px;
  width: calc(100% - 200px);
  height: calc(100% - 200px);
}

@media screen and (max-width: 1024px) {
  .main-top {
    left: 70px;
    width: calc(100% - 140px);
    height: calc(100% - 140px);
  }
}

@media screen and (max-width: 767px) {
  .main-top {
    left: 0px;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .main-top {
    height: calc(100% - 100px);
  }
}

.main-top .top-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
}

.main-top .top-title h1 {
  font-weight: 400;
  font-size: 2.5rem;
  font-family: "Merriweather", serif;
  letter-spacing: 5px;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .main-top .top-title h1 {
    font-size: 2rem;
    line-height: 1.5em;
  }
}

.main-top .top-title p {
  font-family: "Inconsolata", monospace;
  font-size: 1.3rem;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
}
