@import "nav-footer";
@import "variables";
@import "mixin";

.about-section {
  background-color: $about-bg;
  // opacity: 0;
  // animation: leftToRightContainer 0.8s ease 0.5s 1 forwards;
  // @include leftToRightContainer;
  @include container-size;

  @include min-screen($breakpPc-max-1024) {
    display: flex;
    align-items: center;
  }

  @include max-screen($breakpMobileLand-max-767) {
    position: relative;
    // height: 100%;
    overflow-y: scroll;
  }

  .about-title {
    text-align: left;
    margin: 0;
    @include base-h1(600, 2.2rem, $section-title, 2px);

    @include max-screen($breakpMobileLand-max-767) {
      font-size: 2rem;
    }
  }

  p {
    word-break: break-all;
    opacity: 0;
    text-align: left;
    padding-top: 0.5rem;
    animation: bottomToTop 0.8s ease 2.3s 1 forwards;
    @include bottomToTop(20px);
  }

  .flex-container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;

    @include max-screen($breakpPc-max-1024) {
      flex-direction: column;
      width: 80%;
      padding: 2rem 0;
    }

    .flex-item-right {
      width: 50%;
      position: relative;
      @include max-screen($breakpPc-max-1024) {
        width: 100%;
      }
      @include screen($breakpMobileLand-min-768, $breakpPc-max-1024) {
        padding-top: 3rem;
      }

      p:nth-child(3) {
        font-weight: bold;
        font-family: $main-font;
        color: $sub-pink-color;
        padding-top: 2rem;
      }
    }

    .flex-item-left {
      @include max-screen($breakpPc-max-1024) {
        order: 2;
        margin-top: 2rem;
      }

      .profile-img {
        width: auto;
        height: 400px;
        // animation: leftToRight ease-in 0.8s 1 1.3s forwards;
        // opacity: 0;
        // @include leftToRight;
        @include image-border;

        @include max-screen($breakpPc-max-1024) {
          max-height: 250px;
        }
      }
    }
    .social-icons {
      padding-left: 0;
      opacity: 0;
      animation: bottomToTop 0.8s ease 2.5s 1 forwards;
      @include bottomToTop(20px);

      .icon-list {
        padding: 1rem 1rem 0 0;
        font-size: 1.3rem;
        display: inline-block;
      }

      & i:hover {
        color: $section-title;
      }
    }
  }
}

.btn-class {
  margin-top: 1rem;
  text-align: center;
  position: relative;
  z-index: 2;
  transition: 0.3s ease;

  @include button-style($work-btn-color, $white-color);
  border: 1px solid $work-btn-color;

  &:hover {
    @include button-link($work-btn-color, $white-color, $work-btn-color);
  }
  &::before,
  &::after {
    top: 0;
    width: 50%;
    height: 100%;
    background-color: $work-btn-color;
  }

  &::before {
    right: 0;
  }

  &::after {
    left: 0;
  }

  &:hover::before,
  &:hover::after {
    width: 0;
    background: $white-color;
  }
}

.btn-animation {
  opacity: 0;
  animation: bottomToTop 0.8s ease 2.8s 1 forwards;
  @include bottomToTop(20px);
}
