/*================ Contact =======================*/
#contact {
    background: #ecd8d8;
}

.social-icons {
    padding-left: 0;
    margin-bottom: 30px;
}

.contact {
    text-align: center;
}

.social-icons li {
    padding: 10px 15px;
    font-size: 23px;
    display: inline-block;
}

.social-icons li i:hover {
    color: #b74979;
}

.message-btn {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #b74979;
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
    background-color: #b74979;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 3px 5px 0px #b74979;
}

.message-btn:hover {
    background-color: #fff;
    color: #b74979;
    border-color: #fff;
    border-radius: 30px;
}