/*================ Contact =======================*/
@import "variables";
@import "mixin";

#contact {
    background: $main-pink-color;
}

.contact-container {
    @include header-vertical-center;
    // a {
    //     font-size: 2rem;
    //     color: #b74979;
    //     margin-bottom: 2rem;
    //     display: block;
    // }
}

.contact {
    text-align: center;
}

.social-icons {
    padding-left: 0;
    margin-bottom: 30px;

    li {
        padding: 10px 15px;
        font-size: 23px;
        display: inline-block;
    }

    li i:hover {
        color: $sub-pink-color;
    }
}

.message-btn {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: auto;
    padding: 20px;
    border: 2px solid $sub-pink-color;
    font-size: 1.2em;
    text-decoration: none;
    background-color: $sub-pink-color;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 3px 5px 0px #b74979;

    a {
        color: $white-color;
        text-decoration: none;
    }

    &:hover {
        background-color: $white-color;
        border-color: $white-color;
        border-radius: 30px;

        a {
            color: $sub-pink-color;
        }
    }
}