@import "variables";

@mixin header-vertical-center {
    position: absolute;
    // width: 80%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@mixin slide-left-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@mixin border-top-bot {
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
}

/* ==============
   Media queries
  ============= */
@mixin max-screen($breakPoint) {
    @media screen and (max-width: $breakPoint) {
        @content;
    }
}

@mixin min-screen($breakPoint) {
    @media screen and (min-width: $breakPoint) {
        @content;
    }
}

@mixin screen($breakPointMin, $breakPointMax) {
    @media screen and (min-width: $breakPointMin) and (max-width: $breakPointMax) {
        @content;
    }
}