@import "variables";

@mixin base-h1($weight, $font-size, $main-font, $color, $space) {
  font-weight: $weight;
  font-size: $font-size;
  font-family: $main-font;
  color: $color;
  letter-spacing: $space;
}

@mixin base-paragraph($size, $space, $color, $height) {
  font-family: $p-font;
  font-size: $size;
  letter-spacing: $space;
  color: $color;
  line-height: $height;
}

@mixin header-vertical-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

@mixin flex-end {
  display: flex;
  justify-content: flex-end;
}

@mixin slide-left-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin border-top-bot {
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}

@mixin container-size {
  position: absolute;
  top: 100px;
  left: 70px;
  width: calc(100% - 140px);
  height: calc(100% - 140px);

  @include max-screen($breakpMobileLand-max-767) {
    left: 0px;
    width: 100%;
  }
}

@mixin container-style {
  max-width: 1024px;
  width: 80%;
  margin: 0 auto;
}

@mixin button-style($background, $textColor) {
  display: inline-block;
  width: 150px;
  height: auto;
  padding: 20px;
  border: 1px solid $main-text-color;
  font-size: 1rem;
  background: $background;
  color: $textColor;
  text-decoration: none;
  font-family: $p-font;
  text-align: center;
}

@mixin button-link($textColor, $hoverBg, $hoverBorderColor) {
  background-color: $hoverBg;
  border-color: $hoverBorderColor;
  color: $textColor;
}

@mixin image-border {
  border: 10px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
  -moz-box-shadow: 3px 3px 3px #777;
  box-shadow: 3px 3px 3px #777;
}

@mixin bottomToTop($ypixel) {
  @keyframes bottomToTop {
    0% {
      transform: translateY($ypixel);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}


@mixin border-box-anim {
  @keyframes border-box-anim {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

@mixin top-box-style {
  /* border style*/
  .btn__box:before,
  .btn__box:after,
  .btn__box a:before,
  .btn__box a:after {
    content: "";
    position: absolute;
    background: $main-text-color; /*border color*/
  }
  /* bottom */
  .btn__box:before {
    bottom: 0;
    left: -200px;
    width: 200px;
    height: 1px;
  }
  /* right */
  .btn__box:after {
    bottom: -200px;
    right: 0;
    width: 1px;
    height: 200px;
  }
  /* top */
  .btn__box a:before {
    top: 0;
    right: -200px;
    width: 200px;
    height: 1px;
  }
  /* left */
  .btn__box a:after {
    top: -200px;
    left: 0;
    width: 1px;
    height: 200px;
  }

  /* animation */
  .btn__box:before {
    animation: leftAnim .5s linear 1s forwards;
  }
  .btn__box:after {
    animation: bottomAnim .5s linear 1.3s forwards;
  }
  .btn__box a:before {
    animation: rightAnim .5s linear 0.3s forwards;
  }
  .btn__box a:after {
    animation: topAnim .5s linear 0.6s forwards;
  }

  /* animation*/
  @keyframes topAnim {
    0% {
      top: -200px;
    }
    100% {
      top: -100px;
    }
  }
  @keyframes bottomAnim {
    0% {
      bottom: -200px;
    }
    100% {
      bottom: -100px;
    }
  }
  @keyframes rightAnim {
    0% {
      right: -100px;
    }
    100% {
      right: 100px;
    }
  }
  @keyframes leftAnim {
    0% {
      left: -100px;
    }
    100% {
      left: 100px;
    }
  }
}

/* ==============
   Media queries
  ============= */
@mixin max-screen($breakPoint) {
  @media screen and (max-width: $breakPoint) {
    @content;
  }
}

@mixin min-screen($breakPoint) {
  @media screen and (min-width: $breakPoint) {
    @content;
  }
}

@mixin screen($breakPointMin, $breakPointMax) {
  @media screen and (min-width: $breakPointMin) and (max-width: $breakPointMax) {
    @content;
  }
}
