/*=========  Nav bar ==========*/
@import "variables";
@import "mixin";

.nav-bar {
  position: fixed;
  width: 100%;
  background: $white-color;
  z-index: 100;
  padding-top: 20px;

  .menu {
    @include flex-end;
    z-index: 100;
    padding-right: 60px;

    @include max-screen($breakpMobileLand-max-767) {
      padding: 0;
    }

    .menu-list {
      font-family: $p-font;
      font-size: 1.2rem;
      letter-spacing: 3px;
      padding: 10px;
      list-style: none;
    }

    .menu-list:first-child {
      margin-right: auto;
      padding-left: 30px;
      width: auto;
      height: 30px;
    }

    a:link,
    a:visited {
      color: $main-text-color;
      padding: 8px 0;
      text-decoration: none;
      border-bottom: 2px solid transparent;
      transition: border-bottom 0.2s;
    }

    a:hover,
    a:active {
      color: $main-text-color;
      border-bottom: 2px solid #c7a9a9;
    }
  }
}

.first-page-nav {
  opacity: 0;
  animation: nav-animation 0.3s ease-in 3.5s 1 forwards;
  @include nav-animation;
}

/*====Footer====*/

footer {
  height: 40px;
  background-color: $work-bg;
  margin-top: auto;

  p {
    text-align: center;
    color: $main-text-color;
    margin: 0 auto;
    padding-top: 0.8rem;
  }
}
