/*===============  portfolio ========== */
@import "nav-footer";
@import "variables";
@import "mixin";

.scroll-section {
  position: relative;
}

.work-section {
  background-color: $work-bg;
  opacity: 0;
  position: relative;
  animation: rightToLeftContainer 1s ease 0.5s 1 forwards;
  @include rightToLeftContainer;
  @include container-size;

  @include min-screen($breakpTablet-max-960) {
    display: flex;
    align-items: center;
  }
  @include max-screen($breakpMobileLand-max-767) {
    height: calc(100vh - 70px);
  }

  .flex-container {
    display: flex;
    width: 100%;

    @include max-screen($breakpPc-max-1024) {
      flex-direction: column;
      margin: 0 auto;
      width: 100%;
      @include header-vertical-center;
    }

    .flex-item-left {
      width: 50%;
      @include max-screen($breakpPc-max-1024) {
        margin: 0 auto;
        order: 2;
      }

      @include max-screen($breakpMobileLand-max-767) {
        width: 80%;
      }
    }

    .flex-item-right {
      width: 50%;

      @include max-screen($breakpPc-max-1024) {
        width: 100%;
      }

      @include max-screen($breakpTablet-max-960) {
        margin: 0 auto;
        order: 1;
      }
    }
  }

  .content {
    text-align: left;
    width: 60%;
    margin: 0 auto;
    @include max-screen($breakpPc-max-1024) {
      width: 100%;
      text-align: center;
      margin-top: 2rem;
    }
    @include max-screen($breakp-mobile-mid-400) {
      margin-top: 1rem;
    }
    .work-title {
      width: 100%;
      margin: 0;
      @include base-h1(600, 2.5rem, $section-title, 3px);

      @include max-screen($breakp-mobile-mid-400) {
        font-size: 2rem;
      }
    }

    .description {
      @include max-screen($breakpPc-max-1024) {
        margin: 0 auto;
      }
      padding: 1rem 0;
      @include base-paragraph(1rem, 1px, $main-text-color, 1.5);
    }
  }

  .work-img-one {
    max-width: 420px;
    height: auto;
    opacity: 0;
    animation: bottomToTop 1s ease 1.3s 1 forwards;
    @include bottomToTop(20px);
    @include image-border;
    @include max-screen($breakpPc-max-1024) {
      max-height: 500px;
    }
    @include max-screen($breakpMobileLand-max-767) {
      max-width: 300px;
    }
    @include max-screen($breakp-mobile-min-320) {
      max-width: 250px;
    }
  }

  .btn-class {
    @include max-screen($breakpPc-max-1024) {
      margin: 0 auto;
    }
  }
}

////// single page portfolio section /////
.work-single-wrapper {
  background: $white-color;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.single-page {
  nav,
  header,
  footer {
    background-color: $work-bg;
  }

  .nav-bar {
    a:link,
    a:visited {
      color: $main-text-color;
    }
  }

  header {
    height: 300px;
    position: relative;

    .single-page-title {
      width: 100%;
      @include base-h1(600, 3.5rem, $section-title, 3px);
      @include header-vertical-center;

      @include max-screen($breakpMobileLand-max-767) {
        font-size: 2.5rem;
      }
    }
  }
}

.project-page {
  .container {
    @include container-style;
  }

  h2 {
    font-family: $p-font;
    color: $section-title;
    text-align: left;
    @include max-screen($breakpMobileLand-max-767) {
      text-align: center;
    }
  }

  .summary-content {
    max-width: 100%;
    margin: 0 auto;
    padding: 4rem 0;
    display: flex;
    text-align: left;

    @include max-screen($breakpMobileLand-max-767) {
      flex-wrap: wrap;
    }

    .first-content {
      width: 50%;
      padding-right: 5rem;
      opacity: 0;
      animation: bottomToTop 1s ease 1s 1 forwards;
      @include bottomToTop(20px);

      @include max-screen($breakpMobileLand-max-767) {
        width: 100%;
        padding: 0;
        text-align: center;
      }
    }

    .second-content {
      width: 50%;
      opacity: 0;
      animation: bottomToTop 1s ease 1.5s 1 forwards;
      @include bottomToTop(20px);

      @include max-screen($breakpMobileLand-max-767) {
        width: 100%;
        padding: 0;
        text-align: center;
      }
    }

    p {
      min-width: 200px;
    }
  }

  .page-btn {
    margin: 0 auto;
    @include button-style($main-pink-color, $white-color);
    border: 1px solid $white-color;

    &:hover {
      @include button-link($main-pink-color, $white-color, $main-pink-color);
      border-color: $main-pink-color;
      transition: 0.5s ease-in;
      border-radius: 30px;
    }
  }

  .btn-animation {
    opacity: 0;
    animation: bottomToTop 0.8s ease 2s 1 forwards;
    @include bottomToTop(20px);
  }

  #img-container {
    text-align: center;
    margin: 5rem 0;
  }

  .fadein {
    opacity: 0;
    width: 100%;
    border: solid 1px #cacaca;
    transform: translate(0, 50px);
    transition: all 1s;
    margin-top: 2rem;
  }
  .fadein.scrollin {
    opacity: 1;
    transform: translate(0, 0);
  }
}
