//color 
$main-text-color: #4d4b50;
$main-pink-color:#E0AAA5;
$sub-pink-color:#b74979;
$white-color: #ffffff;
$about-bg:#C2E3DF;
$work-one: #F4C290;
$work-two: #BCC8EF;
$header-bg: unquote($string: "#fffefe00");
// font
$main-font: 'Merriweather',
serif;
$p-font:'Inconsolata',
monospace;
// $title-font:'Cormorant Garamond',
// serif;
//style
$height100vh: 100vh;


$easeInQuart: cubic-bezier(0.895, 0.030, 0.685, 0.220);
$easeOutQuart: cubic-bezier(0.165, 0.840, 0.440, 1.000);
$easeOutSine: cubic-bezier(0.390, 0.575, 0.565, 1.000);
$move-pixel: -80px;
$container-move-pixel: -300px;
/** =========
  Media Queries
========= **/
$breakp-mobile-min-320: 320px;
$breakp-mobile-mid-400: 400px;
$breakp-mobile-mid-401: 401px;
$breakp-mobile-max-480: 480px;
$breakpMobileLand-min-481: 481px;
$breakpMobileLand-max-600: 600px;
$breakpTablet-min-601: 601px;
$breakpMobileLand-max-767: 767px;
$breakpMobileLand-min-768: 768px;
$breakpTablet-max-960: 960px;
$breakpPc-min-961: 961px;
$breakpPc-max-1024: 1024px;