//color
$main-text-color: #4d4b50;
$main-pink-color: #b78282;
$sub-pink-color: #a26a31;
$white-color: #ffffff;
$about-bg: #ecd7bd;
$work-bg: #dcd0d5;
$section-title: #73496d;
$work-btn-color: #9e466e;

$header-bg: unquote(
  $string: "#fffefe00"
);
// font
$main-font: "Merriweather", serif;
$p-font: "Noto Sans", sans-serif;
// $title-font:'Cormorant Garamond',
// serif;
//style
$height100vh: 100vh;

$easeInQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
$easeOutSine: cubic-bezier(0.39, 0.575, 0.565, 1);
$move-pixel: -80px;
$container-move-pixel: -300px;
/** =========
  Media Queries
========= **/
$breakp-mobile-min-320: 320px;
$breakp-mobile-mid-400: 400px;
$breakp-mobile-mid-401: 401px;
$breakp-mobile-max-480: 480px;
$breakpMobileLand-min-481: 481px;
$breakpMobileLand-max-600: 600px;
$breakpTablet-min-601: 601px;
$breakpMobileLand-max-767: 767px;
$breakpMobileLand-min-768: 768px;
$breakpTablet-max-960: 960px;
$breakpPc-min-961: 961px;
$breakpPc-max-1024: 1024px;
