//color 
$main-text-color: #4d4b50;
$main-pink-color:#ecd8d8;
$sub-pink-color:#b74979;
$white-color: #ffffff;
$header-bg: unquote($string: "#fffefe00");
// font
$main-font: 'Playfair Display',
serif;
$p-font:'EB Garamond',
serif;
$title-font:'Cormorant Garamond',
serif;
//style
$height100vh: 100vh;
/** =========
  Media Queries
========= **/
$breakp-mobile-min-320: 320px;
$breakp-mobile-mid-400: 400px;
$breakp-mobile-mid-401: 401px;
$breakp-mobile-max-480: 480px;
$breakpMobileLand-min-481: 481px;
$breakpMobileLand-max-600: 600px;
$breakpTablet-min-601: 601px;
$breakpMobileLand-max-767: 767px;
$breakpMobileLand-min-768: 768px;
$breakpTablet-max-960: 960px;
$breakpPc-min-961: 961px;
$breakpPc-max-1024: 1024px;