@import "nav-footer";
@import "portfolio";
@import "about-section";
/* ========= Main layout ============*/

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: $white-color;
}

h1,
h2,
p,
a {
  margin: 0;
  padding: 0;
}

/*  FONTS AND COLOR  */

p,
.social-icons li i,
.social-icons li a:link,
visited {
  color: $main-text-color;
}

p {
  @include base-paragraph(1rem, 1px, $main-text-color, 1.5);
}

.slide-section {
    visibility: hidden;
}

.section-title {
  margin: 0;
  margin-bottom: 0.5rem;
}

.top-border-rect {
  @include header-vertical-center;
  @include border-box-anim;
  @include top-box-style;
  animation: border-box-anim 0.8s ease 3s 1 forwards;

  .btn__box {
    position: relative;
    width: 200px;
    height: 200px;
    line-height: 200px;
    overflow: hidden;

    a {
      display: block;
      text-align: center;
      text-decoration: none;
      color: $main-pink-color;
      font-size: 1rem;
    }
  }
}

.logo {
  width: 40px;
  height: auto;
}

.main-top {
  visibility: hidden;
  position: relative;
  background-color: $main-pink-color;
  // opacity: 0;	
  // animation: bottomToTop 1s ease-in 4s 1 forwards;
  @include container-size;

  @include max-screen($breakpMobileLand-max-767) {
    height: calc(100% - 100px);
  }

  .top-title {
    width: 80%;
    @include header-vertical-center;

    .name-title {
      @include base-h1(400, 5vw, $main-font, $white-color, 1px);
      margin: 0;
      padding: 0;
      text-align: left;
      line-height: 1.3;

      @include max-screen($breakpMobileLand-max-767) {
        font-size: 8vw;
      }
    }

    .position-title {
      @include base-paragraph(3vw, 1px, $white-color, 1.5);
      font-family: $main-font;
      text-align: left;
      margin-bottom: 3rem;
  

      @include max-screen($breakpMobileLand-max-767) {
        font-size: 6vw;
      }
    }

    a {
      display: block;
      color: $white-color;
      font-size: 2vw;
      font-family: $main-font;
      text-align: left;
      text-decoration: none;

       @include max-screen($breakpMobileLand-max-767) {
        font-size: 4vw;
      }

    }

    i {
      margin-left: 10px;
    }
  }
}
