@import "nav-footer";
@import "portfolio";
@import "about-section";
/* ========= Main layout ============*/
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: $white-color;
}

h1,
h2,
p,
a {
  margin: 0;
  padding: 0;
}

/*  FONTS AND COLOR  */

p,
.social-icons li i,
.social-icons li a:link,
visited {
  color: $main-text-color;
}

p {
  @include base-paragraph(1rem, 1px, $main-text-color, 1.5);
}

.section-title {
  margin: 0;
  margin-bottom: 0.5rem;
}

.top-border-rect {
  @include header-vertical-center;
  @include border-box-anim;
  @include top-box-style;
  animation: border-box-anim 0.8s ease 3s 1 forwards;

  .btn__box {
    position: relative;
    width: 200px;
    height: 200px;
    line-height: 200px;
    overflow: hidden;

    a {
      display: block;
      text-align: center;
      text-decoration: none;
      color: $main-pink-color;
      font-size: 1rem;
    }
  }
}

.logo {
  width: 40px;
  height: auto;
}

.main-top {
  position: relative;
  background-color: $main-pink-color;
  @include container-size;

  @include max-screen($breakpMobileLand-max-767) {
    height: calc(100% - 100px);
  }

  .top-title {
    @include header-vertical-center;
    width: 80%;

    .name-title {
      @include base-h1(400, 4rem, $main-font, $white-color, 1px);
      margin: 0;
      padding: 0;
      text-align: left;
      line-height: 1.1;

      @include max-screen($breakpMobileLand-max-767) {
        font-size: 2rem;
        line-height: 1.5em;
      }
    }

    .position-title {
      @include base-paragraph(2rem, 1px, $white-color, 1.5);
      font-family: $main-font;
      text-align: left;
      margin-bottom: 3rem;

      @include max-screen($breakpMobileLand-max-767) {
        font-size: 1.5rem;
      }
    }

    a {
      display: block;
      color: $white-color;
      font-size: 1rem;
      font-family: $p-font;
      text-align: left;
      text-decoration: none;
    }

    i {
      margin-left: 10px;
    }
  }
}
